# Ignore build folders for common languages/projects
build/
Build/
bin/
Bin/
out/
Out/
dist/
Dist/
target/
Target/

# Ignore .vscode folder
.vscode/

# Ignore build folders in subdirectories
**/build/
**/Build/
**/install/
**/log/
**/bin/
**/Bin/
**/out/
**/Out/
**/dist/
**/Dist/
**/target/
**/Target/
**/.vscode/